@import 'palette';

.blogComponents {
    background-color: $backgroundOne;
}

.blogComponentsFlex {
    display: flex;
    justify-content: space-between;
}

.blogComponentsLeft {
    flex-basis: 60%;
    bottom: 150px;
    position: relative;
}

.gong {
    width: 98%;
    box-shadow: 20px 20px $buttonColor;
}

.blogText {
    box-shadow: 4px 4px $buttonColor;
    padding-left: 20%;
}

.blogText h4 {
    padding-top: 10%;
}

.blogText p {
    padding-right: 30px;
}

.blogText p:last-of-type {
    padding-bottom: 5%;
}

.blogText span {
    font-weight: bold;
}

.blogText p {
    padding-top: 20px;
}

.blogText p:first-of-type {
    padding-top: 0px;
}

.dateAuthor {
    font-style: italic;
}


// aside styles

aside {
    width: 25%;
    position: relative;
    top: 100px;
    height: 100%;
    background-color: $buttonColor;
    box-shadow: -20px 20px $buttonColor;
}

.rocks {
    width: 100%;
}

.rightText {
    box-shadow: 20px 20px $buttonColor;
}

.rightText ul {
    padding-left: 30px;
}

.rightText li {
    list-style: disc;
    color: $primaryTitleColor;
    font-size: 20px;
}

// comments styles

.comments, .blogForm {
    margin-left: 20%;
}

.comments h4 {
    color: $paragraphColor;
    padding-top: 5%;
}

.commentsFlex {
    display: flex;
    justify-content: space-between;
}

.commentsText{
    width: 80%;
}

.commentsFlex img {
    height: 50%;
}

.commentsText p:first-of-type {
    color: $primaryTitleColor;
}

.commentsFlex:first-of-type {
    margin-top: 5%;
}

.commentsFlex:last-of-type {
    margin-top: 10%;
    margin-bottom: 5%;
}

// form styles

input[type=textarea] {
    height: 150px;
}

.blogComponentsLeft input[type=text], .blogComponentsLeft input[type=email], .blogComponentsLeft input[type=textarea]  {
    background-color: $backgroundOne;
}


@media (max-width: 1050px) {

    .blogComponentsFlex {
        display: block;
    }

    .blogComponentsLeft {
        width: 80%;
        margin: 0 auto;
    }

    .blogText {
        padding-left: 10%;
        padding-right: 10%;
        box-shadow: none;
        border-bottom: 5px solid $buttonColor;
    }

    .blogText h4 {
        padding-top: 0;
        margin-top: 10%;
    }

    .comments, .blogForm {
        margin-left: 0%;
    }

    aside {
        display: flex;
        width: 80%;
        margin: 0 auto;
        position: initial;
        top: 0;
        height: 100%;
        box-shadow: none;
        background-color: initial;
        padding-bottom: 5%;

            .rightText {
                box-shadow: none;
                padding-left: 10%;
                width: 100%;

                    ul {
                        padding-left: 10%;
                    }
            }
            .rocks {
                width: 50vw;
                height: auto;
                box-shadow: 20px -20px $buttonColor;
            }
            
    }

    .commentsText {
        padding-left: 5%;
    }
}

@media (max-width: 600px) {

    aside {
        display: block;

            .rocks {
                display: block;
                margin: 0 auto;
                width: 80%;
            }

            .rightText {
                padding-top: 5%;
                width: 80%;
                padding-bottom: 10%;
            }
    }

    .blogComponentsLeft {
        bottom: 100px;
    }

    .blogText h4 {
        line-height: 35px;
        padding-top: 5%;
    }
}