@import 'palette';

.contactForm {
    background-color: $backgroundOne;
}

.contactFlex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.form {
    margin-left: 5%;
    width: 50%;
    background-color: $backgroundTwo;
    position: relative;
    bottom: 150px;
    padding: 50px;
    box-shadow: 20px 20px $primaryTitleColor;
        input[type=text], input[type=email], input[type=textarea] {
            background-color: $backgroundTwo;

        input[type=textarea] {
        height: 200px;
    }
    } 
}

.infoHolder {
    margin-right: 10%;
    padding-top: 5%;
    padding-left: 5%;
}

address {
    font-style: normal;
        a {
            display: block;
            @include font(16px, 28px, 2px);
            font-family: $secondaryFont;
            color: $paragraphColor;

                &:first-child {
                    padding-top: 10%;
                }

                &:nth-child(2) {
                    padding-top: 20%;
                }
                
        }
}

.socialIcons {
    display: flex;
    justify-content: space-between;
    width: 60%;
}
    
@media (max-width: 1050px) {

.contactFlex {
    flex-direction: column;
    justify-content: flex-start;
}

.form {
    width: 70%;
    margin: 0 auto;
}

.infoHolder {
    padding-top: 0;
    padding-left: 0;
    margin-left: 10%;
}

.socialIcons {
    justify-content: space-evenly;
    width: 100%;
}

address {
    text-align: center;
    width: 100%;
    padding-bottom: 5%;

    a {

        &:first-child {
            padding-top: 5%;
        }

        &:nth-child(2) {
            padding-top: 5%;
        }
        
    }
}
}

@media (max-width: 700px) {

.form {
    margin: 5% auto;
    background-color: $backgroundTwo;
    position: initial;
    bottom: 0;
    padding: 50px;
    box-shadow: none;
    width: 60%;
}
}

@media (max-width: 500px) {

.form {
    width: 50%;
}
}
