
@import 'palette';

// general header styles:

header {
    height: 100vh;
    width: 100%;
    background-position: center;
    background-size: cover;
}

// home header styles

.homeHeader {
    background-image: url('../assets/home-image-1.jpg');
}

header p {
    font-size: 50px;
    font-family: $secondaryFont;
    color: $paragraphColor;
}

.main {
    width: 50%;
    position: absolute;
    top: 36%;
    left: 42%;
}

.blackWhite {
    width: 40%;
    position: absolute;
    top: 35%;
    height: 75%;
}

// blog header styles

.blogHeader {
  background-image: url("../assets/blog-image-1.jpg");
  height: 100vh;
}

header h2 {
    position: absolute;
    top: 55%;
}

// contact header styles

.contactHeader {
    background-image: url("../assets/contact-image-1.jpg");
}


@media (max-width: 1050px) {

// home page
.blackWhite {
    display: none;
}

.main {
    width: 100%;
    position: initial;
    text-align: center;
    padding-top: 20%;
}

// blog and contact pages
header h2 {
    position: initial;
    top: 0;
    text-align: center;
}

.blogHeader h2 {
    margin-top: 10%;
}

.contactHeader h2 {
    margin-top: 30%;
}
}

@media (max-width: 700px) {

header {
    height: 60vh;
}

.main {
    padding-top: 10%;
}

// contact page
.contactHeader h2 {
    font-size: 4rem;
    margin-top: 15%;
}
}

@media (max-width: 600px) {

header {
    height: 50vh;
}

h1 {
    font-size: 4rem;
}

header p {
    font-size: 25px;
}

.blogHeader {
    height: 60vh;

        h2 {
            position: initial;
        }
}
}

@media (max-width: 450px) {

h1 {
    font-size: 3rem;
}

header p {
    font-size: 20px;
}
}


