
@import 'palette';

// general header styles:

header {
    height: 100vh;
    width: 100%;
    background-position: center;
    background-size: cover;
    position: relative;
}

// home header styles

.homeHeader {
    background-image: url('../assets/home-image-1.jpg');
}

header h1 {
    position: absolute;
    bottom: 50%;
    right: 19%;
}

header p {
    position: absolute;
    bottom: 61%;
    right: 36%;
}

header p {
    @include font(50px, 1px, 3px);
    font-family: $secondaryFont;
    color: $paragraphColor;
}

.blackWhite {
    position: absolute;
    width: 40%;
    top: 30%;
}

// blog header styles

.blogHeader {
  background-image: url("../assets/blog-image-1.jpg");
  height: 100vh;
}

header h2 {
    position: absolute;
    top: 50%;
}