@import "palette";

nav {
    padding-top: 5px;
}

.navFlex {
    display: flex;
    align-items: center;
}

.logo {
    color: $primaryTitleColor;
    font-family: $mainFont;
    font-size: 41.5px;
    flex-basis: 60%;
}

.navLinks {
    width: 40%;
    display: flex;
    justify-content: space-between; 

        a {
            text-transform: uppercase;
            color: $paragraphColor;
            font-family: $secondaryFont;
            @include font(20px, 29px, 1px)
        }
}


@media (max-width: 450px) {
    
.logo {
    font-size: 25px;
}
}