@import 'palette';

.pathways {
    background-color: $backgroundOne;
}

.pathwaysFlex {
    display: flex;
    flex-wrap: wrap;
}

.pathwaysItem {
    display: flex;
    width: 40vw;
    padding-top: 5%;
}

.pathwaysText {
    margin-left: 10px;
}

.lastPathway {
    padding-bottom: 15%;
}

@media (max-width: 1050px) {

.pathways h4 {
    font-size: 30px;
}
}

@media (max-width: 950px) {

.pathwaysFlex {
    flex-direction: column;
}

.pathwaysItem {
    width: 100%;
}
}

