@import "partials/setup";
@import "partials/palette";
@import "partials/general";
@import "partials/text";
@import "partials/navs";
@import "partials/headers";
@import "partials/newAdventure";
@import "partials/button";
@import "partials/gallery";
@import "partials/pathways";
@import "partials/icons";


.wrapper {
    max-width: 1200px;
    width: 80%;
    margin: 0 auto;
}